# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Misc
.DS_Store
*.log
*.swp
*.swo
*~

# IDEs
.idea/
.vscode/
*.sublime-*
.cursor/

# OS
Thumbs.db
ehthumbs.db

# Environment
.env
.env.local
.env.production
.env.test
